<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crystal.Reports" version="13.0.15.1840" targetFramework="net46" />
  <package id="Crystal.Reports.Essentials" version="13.0.20.2399" targetFramework="net46" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net46" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net46" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net40" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="140.17235.0" targetFramework="net46" />
  <package id="NHunspell" version="1.2.5554.16953" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net46" />
</packages>