<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crystal.Reports" version="13.0.15.1840" targetFramework="net46" />
  <package id="Crystal.Reports.Essentials" version="13.0.20.2399" targetFramework="net46" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net46" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net46" />
  <package id="NHunspell" version="1.2.5554.16953" targetFramework="net471" />
</packages>